body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(20,20,40,1) 40%, rgba(36,40,97,1) 100%);
}
#u{
    font-size: 22px;
    margin-left: 10px;
}
#u1{
    font-size: 22px;
    margin-left: 10px;
}
.login1{
    width: 420px;
    height: 500px;
    margin: 10% auto;
}
#M{
    opacity: 0.17;
    position: absolute;
    height: 440px;
    width: 440px;
    background-color: rgb(53, 39, 112);
    border-radius: 15px;
    z-index: 1;
}
.login{
    position: absolute;
    text-align: center;
    border: 1px solid rgb(197, 190, 190);
    width: 390px;
    margin-left: 24px;
    margin-top: 22px;
    border-radius: 7px;
    z-index: 9;
}
#log{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: beige;
    font-size: 32px;
    margin-bottom: 30px;
}
#txt{
    border-radius: 9px;
    margin-bottom: 6px;
    width: 250px;
    height: 32px;
    margin-left: 10%;
}
#s1{
    cursor:pointer;
    font-size: 19px;
    color: rgb(187, 187, 179);
}
#s1:hover{
    text-decoration: underline;
    cursor: pointer;
}
#btn{
    cursor: pointer;
    border-radius: 10px;
    width: 130px;
    height: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: beige;
}

#s:active{
    color: blue;
}

@media only screen and (max-width: 900px){
    .login1{
        margin-top: 100px;
    }
}